<div class="login_container">
  <h1>LOGIN</h1>
  <h4><i class="fa-brands fa-speakap mx-1"></i> SURVELLO</h4>
  <p>Please login to customise your surveys</p>

  <form id="loginForm" novalidate>
    <input
      class="input_text"
      type="text"
      id="username"
      name="username"
      required
      value=""
      placeholder="Enter your username..."
    /><br />
    <input
      class="input_text"
      type="password"
      id="password"
      name="password"
      required
      value=""
      placeholder="Enter your password..."
    />

    <div class="button_area">
      <button id="loginButton" class="buttonl">
        <i class="fas fa-sign-in-alt"></i>Login
      </button>
      <button id="cancelButton" class="buttonl">
        <i class="fas fa-undo"></i>Cancel
      </button>
    </div>
  </form>
  <p class="text-center text-muted small">
    Don't have an account ?
    <a class="link" href="#!">Register Here!</a>
  </p>
</div>
