<div class="custom_container">
  <div class="main_container">
    <div class="text_container">
      <h1 class="home_main">HI</h1>
      <p class="home_small">and welcome to</p>
      <h1 class="home_main" class="animate-charcter">SURVELLO</h1>
    </div>

    <div class="img_container">
      <img id="home_img" src="../../../assets/images/homePage.jpeg" />
    </div>
  </div>

  <div class="btm_container">
    <p class="home_xsmall">
      Take a <a href="#">Survey</a> or <a href="#">Login</a> to create one
    </p>
  </div>

  <div class="surv_container">
    <table id="surv-table">
      <tr>
        <th>Survey</th>
        <th>Availablity</th>
      </tr>
      <tr>
        <td>Survey 1</td>
        <td>December 2022</td>
        
        
      </tr>
      <tr>
        <td>Survey 2</td>
        <td>November 2022</td>
        
      </tr>
      <tr>
        <td>Survey 3</td>
        <td>December 2022</td>
      </tr>
    </table>
    
  </div>
</div>
