<div class="register_container">
  <h1>REGISTER</h1>

  <h4><i class="fa-brands fa-speakap mx-1"></i>SURVELLO</h4>

  <p>Create your account</p>

  <div id="messageArea" *ngIf="isSignedUpFailed" class="alert alert-danger">
      {{ errorMessage }}
  </div>

  <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" >

    <div *ngIf="username.errors?.['required'] && f.submitted">First & Last Name is required</div>
    <input
      [(ngModel)]="form.username"
      #username="ngModel"
      class="input_text"
      type="text"
      id="fname"
      name="fname"
      required
      value=""
      placeholder="Enter your full name..."
    /><br />

    <div *ngIf="email.errors?.['required'] && f.submitted">Email is required</div>
    <input
      [(ngModel)]="form.email"
      #email="ngModel"
      class="input_text"
      type="email"
      id="email"
      name="email"
      required
      value=""
      placeholder="Enter your email..."
    /><br />

    <div *ngIf="password.errors?.['required'] && f.submitted">Password is required</div>
    <input
      [(ngModel)]="form.password"
      #password="ngModel"
      class="input_text"
      type="password"
      id="password"
      name="password"
      required
      value=""
      placeholder="Enter your password..."
    />

    <div *ngIf="confirmPassword.errors?.['required'] && f.submitted">Confirm Password is required</div>
    <div *ngIf="confirmPassword.errors?.['pattern'] && f.submitted">Passwords do not match</div>
    <input
      [(ngModel)]="form.confirmPassword"
      #confirmPassword="ngModel"
      pattern="{{password.value}}"
      class="input_text"
      type="confirmpassword"
      id="confirmpassword"
      name="confirmpassword"
      required
      value=""
      placeholder="Confirm your password..."
    />

    <div class="login_btn">
      <button id="loginButton" class="btn btn-primary btn-sm login_btn">
        <i class="fas fa-sign-in-alt"></i>Register
      </button>
      <button id="cancelButton" class="btn btn-warning btn-sm login_btn">
        <i class="fas fa-undo"></i>Cancel
      </button>
    </div>
  </form>
  <p class="text-center text-muted small">
    Already have an account ?
    <a class="link" href="#!">Login Here!</a>
  </p>
</div>
