<div class="register_container">
  <h1>REGISTER</h1>

  <h4><i class="fa-brands fa-speakap mx-1"></i>SURVELLO</h4>
  <p>Create your account</p>

  <form id="loginForm" novalidate>
    <input
      class="input_text"
      type="text"
      id="fname"
      name="fname"
      required
      value=""
      placeholder="Enter your full name..."
    /><br />

    <input
      class="input_text"
      type="email"
      id="email"
      name="email"
      required
      value=""
      placeholder="Enter your email..."
    /><br />
    <input
      class="input_text"
      type="password"
      id="password"
      name="password"
      required
      value=""
      placeholder="Enter your password..."
    />

    <div class="login_btn">
      <button id="loginButton" class="btn btn-primary btn-sm login_btn">
        <i class="fas fa-sign-in-alt"></i>Register
      </button>
      <button id="cancelButton" class="btn btn-warning btn-sm login_btn">
        <i class="fas fa-undo"></i>Cancel
      </button>
    </div>
  </form>
  <p class="text-center text-muted small">
    Already have an account ?
    <a class="link" href="#!">Login Here!</a>
  </p>
</div>
